Build started...
Build succeeded.
The Entity Framework tools version '8.0.1' is older than that of the runtime '8.0.12'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

CREATE TABLE mark_types (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name_type character varying(50) NOT NULL,
    weight real NOT NULL,
    is_deleted boolean NOT NULL,
    CONSTRAINT "PK_mark_types" PRIMARY KEY (id)
);

CREATE TABLE subjects (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name character varying(50) NOT NULL,
    grade_id bigint NOT NULL,
    total_sessions integer,
    is_deleted boolean NOT NULL,
    school_year_id bigint NOT NULL,
    CONSTRAINT "PK_subjects" PRIMARY KEY (id)
);

CREATE TABLE marks (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    score_average real,
    weight real NOT NULL,
    academic_performance character varying(20),
    student_id character varying(255) NOT NULL,
    subject_id bigint NOT NULL,
    school_year_id bigint NOT NULL,
    semester_id bigint NOT NULL,
    is_deleted boolean NOT NULL,
    CONSTRAINT "PK_marks" PRIMARY KEY (id),
    CONSTRAINT "FK_marks_subjects_subject_id" FOREIGN KEY (subject_id) REFERENCES subjects (id)
);

CREATE TABLE subjects_teachers (
    subject_id bigint NOT NULL,
    teacher_id character varying(255) NOT NULL,
    is_deleted boolean NOT NULL,
    CONSTRAINT "PK_subjects_teachers" PRIMARY KEY (subject_id, teacher_id),
    CONSTRAINT "FK_subjects_teachers_subjects_subject_id" FOREIGN KEY (subject_id) REFERENCES subjects (id)
);

CREATE TABLE component_points (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    score real NOT NULL,
    column_order integer NOT NULL,
    semester_id bigint NOT NULL,
    mark_id bigint NOT NULL,
    is_deleted boolean NOT NULL,
    CONSTRAINT "PK_component_points" PRIMARY KEY (id),
    CONSTRAINT "FK_component_points_marks_mark_id" FOREIGN KEY (mark_id) REFERENCES marks (id)
);

CREATE INDEX "IX_component_points_mark_id" ON component_points (mark_id);

CREATE INDEX "IX_marks_subject_id" ON marks (subject_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250413044011_initV1', '8.0.12');

COMMIT;

START TRANSACTION;

CREATE TABLE component_points_mark_types (
    component_point_id bigint NOT NULL,
    mark_type_id bigint NOT NULL,
    is_deleted boolean NOT NULL,
    CONSTRAINT "PK_component_points_mark_types" PRIMARY KEY (component_point_id, mark_type_id),
    CONSTRAINT "FK_component_points_mark_types_component_points_component_poin~" FOREIGN KEY (component_point_id) REFERENCES component_points (id),
    CONSTRAINT "FK_component_points_mark_types_mark_types_mark_type_id" FOREIGN KEY (mark_type_id) REFERENCES mark_types (id)
);

CREATE INDEX "IX_component_points_mark_types_mark_type_id" ON component_points_mark_types (mark_type_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250413045046_initV2', '8.0.12');

COMMIT;


